# Iris Flower classification using KNN

# 1 : import the dataset

In [37]:
import pandas as pd

In [38]:
iris_data=pd.read_csv(r'D:\Diginique techlabs\Iris.csv')

In [39]:
iris_data.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

# 1.1: We need to convert the name of Species to numbers to applying the algorithm

In [40]:
iris_data['Species_num']=iris_data.Species.map({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})

In [41]:
iris_data.head(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_num
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0
5,6,5.4,3.9,1.7,0.4,Iris-setosa,0
6,7,4.6,3.4,1.4,0.3,Iris-setosa,0
7,8,5.0,3.4,1.5,0.2,Iris-setosa,0
8,9,4.4,2.9,1.4,0.2,Iris-setosa,0
9,10,4.9,3.1,1.5,0.1,Iris-setosa,0

In [42]:
# Now remove the unuseable column
iris_data.drop('Species',axis=1,inplace=True)  #axis is used for rows , inplace = True means to made the change in original data

In [43]:
iris_data=iris_data.values # convert the data to numpy array

# 1.2: Shuffle the dataset for better training

In [44]:
from random import shuffle
shuffle(iris_data)

# 2 : Segregate dependent and independent variables

In [45]:
iris_data.shape

(150, 6)

In [46]:
# first five columns are features and last column is level 
X = iris_data[:,1:5]
Y = iris_data[:,5:]

# 3. Get training the testing set

In [47]:
xtrain = X[0:100,:]
ytrain = Y[0:100,:]
xtest = X[100:,:]
ytest = Y[100:,:]

# 4. Call the algorithm for traing and testing

In [48]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)

# 5. Train the model using imported algorithm

In [49]:
knn.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [50]:
knn.predict(xtest) # Predicted values

array([1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 1., 0.,
       0., 1., 1., 1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0.,
       1., 0., 0., 1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 1.])

In [51]:
print(ytest) # Original data

[[1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [2.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [2.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [2.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [2.]
 [2.]
 [1.]
 [0.]
 [0.]
 [2.]]

# 6. Calculate the Score

In [52]:
knn.score(xtest,ytest)

0.88

# Model's accuracy is 88 %